.banner_inicio {
    width: 100%;
    height: 730px;
}

.card1 {
    width: 100%;
    height: 730px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url(../img/agricultor-agronomo-senior-trabalhador-no-campo-de-soja-verificando-as-colheitas-antes-da-colheita.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card2 {
    width: 100%;
    height: 730px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/feira.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card3 {
    width: 100%;
    height: 730px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/doacao.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alinhamento_banner {
    width: 87%;
    display: flex;
    justify-content: flex-end;
}

.alinhamento_banner2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.setas_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.seta_anterior {
    width: 3.5%;
    height: 65px;
    border-radius: 50px;
    background-color: #1d2d4400;
    border: none;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
}

.seta_proximo {
    width: 3.5%;
    height: 65px;
    border-radius: 50px;
    background-color: #1d2d4400;
    border: none;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
}

.bolinhas_banner {
    position: absolute;
    top: 84%;
    left: 49%;
}

.seta_anterior:hover,
.seta_proximo:hover {
    width: 3.5%;
    height: 65px;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgba(128, 128, 128, 0.589);
    border: none;
    transition: all 0.25s ease-in;
}

.txt_banner {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.titulo_banner {
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 100px;
    text-transform: uppercase;
}

.descricao_banner {
    font-family: 'Dongle', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 30px;
    margin-bottom: 65px;
}

.btn_banner {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.btn_cadastro {
    text-decoration: none;
    width: 35.7%;
    height: 5.4vh;
    border: 3px solid #48734B;
    background-color: #F2F2F2;
    color: #48734B;
    border-radius: 7px;
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    width: 100%;
    height: 700px;
    background-color: #48734B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.tit_sec2 {
    width: 90%;
    height: 95px;
    display: flex;
    align-items: center;
}

.tit_sec2>h2 {
    color: #F2F2F2;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 60px;
}